<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.biz.dao.biz.RefundBizMapper" >
  <resultMap id="BaseResultMap" type="com.biz.model.biz.RefundReq" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="bill_id" property="billId" jdbcType="INTEGER" />
    <result column="account" property="account" jdbcType="DOUBLE" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="refund_status" property="refundStatus" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="nickname" property="nickname" jdbcType="VARCHAR" />
    <result column="admin_remark" property="adminRemark" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, open_id, bill_id, account, type, refund_status, remark, photo, create_date, update_date
  </sql>
  <sql id="Req_Column_List" >
    r.id, r.bill_id, r.account, r.type, r.refund_status, p.nickname
  </sql>
  <sql id="One_Column_List" >
    r.id, r.account, r.type, p.nickname,b.remark as admin_remark, b.img
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="Map" >
    SELECT <include refid="Req_Column_List" />
    FROM refund r ,bill b, person p
    WHERE r.bill_id=b.id AND b.open_id=p.open_id
    AND r.create_date &gt; #{begindate} AND r.create_date &lt; #{enddate}
    AND r.open_id = #{refund.openId} AND r.type = #{refund.type}
    AND r.refund_status = #{refund.refundStatus} ORDER BY r.id DESC
  </select>
  <select id="selectByRefundInfo" resultMap="BaseResultMap" parameterType="Integer" >
    SELECT <include refid="One_Column_List" />
    FROM refund r ,bill b, person p
    WHERE r.bill_id=b.id AND b.open_id=p.open_id AND r.id = #{id}
  </select>
</mapper>